.bioMainTitle {
  margin-bottom: clamp(4px, 4vw, 2rem);
  font-family: var(--font-ui);
  font-size: clamp(2rem, 10vw, 8.9rem);
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
}

.bioSubtitle {
  margin-bottom: clamp(2rem, 4vw, 4.3rem);
  font-family: var(--font-ui);
  font-size: clamp(1.2rem, 2vw, 2.5rem);
}

.videoWrapper {
  margin-bottom: clamp(2rem, 10vw, 7.4rem);
}

.bioWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(1.7rem, 4vw, 3rem);

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: clamp(1.2rem, 4vw, 2.5rem);
  }
}

.bioText {
  grid-column: 1;
  grid-row: auto;
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 4.3rem);
}

.bioTitle {
  margin-bottom: clamp(1rem, 4vw, 3rem);
  font-family: var(--font-ui);
  font-size: clamp(2.5rem, 10vw, 8.9rem);
  line-height: 1.1;
  font-weight: 400;
}

.bioText p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.bioHighlight {
  text-transform: uppercase;
}

.bioGallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: clamp(1.7rem, 4vw, 3rem);

  @media (min-width: 1024px) {
    grid-column: 2;
    grid-row: 1 / -1;
    margin-bottom: 0;
  }
}

.bioImage {
  cursor: pointer;
}
