.contactMessage {
  margin-bottom: 1.4rem;
  font-family: var(--font-ui);
  font-size: clamp(1.4rem, 2vw, 1.7rem);
}

.contactText {
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}

.contactText p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.contactLinkWrapper {
  margin-bottom: clamp(2rem, 4vw, 4.3rem);
}

.contactLink {
  display: block;
  width: max-content;
  margin-bottom: 1rem;
  padding: 4px 0;
  font-family: var(--font-ui);
  font-size: 1.2rem;
  color: var(--color-highlight);

  @media (min-width: 1024px) {
    font-size: 1.4rem;
    transition: color .4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }
}
