.contactTitle {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
  font-size: clamp(2rem, 10vw, 4.3rem);
  font-weight: 300;
  font-stretch: 115%;
  line-height: 1.1;
}

.contactLinkWrapper {
  margin-bottom: clamp(2rem, 4vw, 4.3rem);
}

.contactLink {
  display: block;
  width: max-content;
  margin-bottom: 1rem;
  padding: 4px 0;
  font-size: 1.2rem;
  color: var(--color-secondary);

  @media (min-width: 1024px) {
    font-size: 1.4rem;
    color: var(--color-highlight);
    transition: color .4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }
}
