@use './base/reset';
@use './base/typography';
@use './base/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

button {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
