@use './base/reset';
@use './base/typography';
@use './base/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

button {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mainWrapper {
  margin-bottom: 2rem;
  padding-top: 79px;
  padding-bottom: 3rem;
  padding-right: clamp(1.2rem, 2vw, 3rem);
  padding-left: clamp(1.2rem, 2vw, 3rem);

  @media (min-width: 1024px) {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 104px;
    padding-bottom: 184px;
  }
}

.nowrap {
  white-space: nowrap;
}
