.cardsList {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 1.4rem);
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
}

.filterList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 1.7rem 4.3rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: end;
    gap: 1.2rem;
  }

  @media (min-width: 1440px) {
    gap: 3rem;
  }
}

.filterButton {
  padding: 8px;
  font-stretch: 115%;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  transition: border-color .4s ease;

  @media (min-width: 1024px) {
    &:hover,
    &:focus-visible {
      border-color: var(--color-highlight);
    }
  }
}

.filterButton[aria-pressed='true'] {
  font-weight: 600;
  border-color: 1px solid var(--color-secondary);
}

.collectionTagline {
  max-width: 64ch;
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  text-transform: uppercase;
}

.collectionTextWrapper p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}

.textAuthor {
  text-transform: uppercase;
}
