.cardsList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: clamp(1.7rem, 4vw, 3rem);

  @media (min-width: 570px) {
    gap: 1rem;
  }
}

.filterList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 1.7rem 4.3rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: end;
    gap: 1.2rem;
  }

  @media (min-width: 1440px) {
    gap: 3rem;
  }
}

.filterButton {
  padding: 8px;
  font-family: var(--font-ui);
  background-color: var(--primary-color);
  border: 1px solid transparent;
  transition: border-color .4s ease;

  @media (min-width: 1024px) {
    &:hover,
    &:focus-visible {
      border-color: var(--color-highlight);
    }
  }
}

.filterButton[aria-pressed='true'] {
  font-weight: 600;
  border-color: 1px solid var(--color-secondary);
}

.colTagline {
  max-width: 64ch;
  margin-bottom: clamp(1.7rem, 6vw, 3rem);
  font-size: 1.4rem;

  @media (min-width: 1024px) {
    max-width: 60ch;
    font-size: 1.7rem;
  }

  @media (min-width: 1200px) {
    max-width: 57ch;
    font-size: 2rem;
  }
}

.colText {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
}

.colText p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}

.authorWrapper {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
}

.authorWrapper p {
  max-width: 64ch;
  font-size: clamp(1rem, 2vw, 1.4rem);
  text-transform: uppercase;

  @media (min-width: 1024px) {
    max-width: 76ch;
  }
}

.authorWrapper span {
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}

.authorName {
  margin-bottom: 10px;
}
