.videoWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 1.4rem);

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
