.exhDetail {
  @media (min-width: 1024px) {
    margin-top: -70px;
  }
}

.exhDetTitle {
  margin-bottom: clamp(4px, 4vw, 1rem);
  font-size: clamp(1.7rem, 2vw, 3rem);
  font-weight: 300;
  font-stretch: 115%;
}

:lang(ru) .exhDetTitle {
  font-family: var(--font-secondary);
  font-weight: 400;
}

.exhDetSubtitle {
  margin-bottom: clamp(2rem, 4vw, 3rem);
  font-size: clamp(2.5rem, 7vw, 7.4rem);
  line-height: 1.1;
  font-weight: 300;
  font-stretch: 115%;
}

:lang(ru) .exhDetSubtitle {
  font-family: var(--font-secondary);
  font-weight: 400;
}

.exhDetDescription {
  max-width: 64ch;
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
  font-size: clamp(1.2rem, 2vw, 1.7rem);
  text-transform: uppercase;
}

.exhDetSlides {
  margin-bottom: clamp(2rem, 4vw, 4.3rem);
}

.exhDetDescription p {
  margin-bottom: 10px;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 1.4rem);

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}

.exhPdfLink {
  display: block;
  width: max-content;
  padding: 8px 0;
  font-size: 1.2rem;
  color: var(--color-highlight);

  @media (min-width: 1024px) {
    font-size: 1.4rem;
    transition: color .4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }
}
