.paintingDetail {
  @media (min-width: 1024px) {
    margin-top: -70px;
  }
}

.paintingTitle {
  margin-bottom: clamp(1rem, 4vw, 2rem);
  font-size: clamp(2.5rem, 7vw, 8.9rem);
  font-weight: 300;
  font-stretch: 115%;
  line-height: 1.1;
  // color: var(--color-highlight);
}

.paintingDescription {
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  font-weight: 300;
  font-stretch: 115%;
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
  // color: var(--color-highlight);
}

.paintingPicture {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
}

.paintingQuote {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
  margin-left: 0;
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}

.paintingQuote p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
}

.paintingQuote cite {
  display: block;
  padding-top: 1rem;
  font-style: normal;
  text-transform: uppercase;
}

.paintingWarning {
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
  font-size: 1rem;
}
