.paintingDetail {
  @media (min-width: 1024px) {
    margin-top: -70px;
  }
}

.paintingTitle {
  margin-bottom: clamp(1rem, 4vw, 2rem);
  font-family: var(--font-ui);
  font-size: clamp(2.5rem, 7vw, 7.4rem);
  line-height: 1.1;
  font-weight: 400;
}

.paintingDescription {
  font-family: var(--font-ui);
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
}

.paintingDescription p {
  margin-bottom: 8px;
}

.paintingPicture {
  margin-bottom: clamp(10px, 4vw, 1.4rem);
}

.prevNext {
  display: flex;
  gap: 3rem;
  margin-bottom: 1.4rem;
  font-family: var(--font-ui);
}

.paintingQuote {
  margin-bottom: 1.7rem;
  margin-left: 0;
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}

.paintingQuote p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
}

.paintingVideoLink {
  margin-bottom: clamp(2rem, 4vw, 3rem);
}
