.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.mainHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
