.hero {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;

  @media (min-width: 700px) {
    justify-content: center;
  }

  @media (min-width: 1024px) {

    &::before,
    &::after {
      position: fixed;
      inset: 0;
      z-index: 1;
      content: '';
      background-size: cover;
      background-position: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 1s ease;
    }

    &::before {
      background-image: url('/images/projects/propylaeum/original/propylaeum-4.webp');
    }

    &::after {
      background-image: url('/images/paintings/original/discussion.webp');
    }
  }
}

.heroVisible::before,
.heroVisible::after {
  @media (min-width: 1024px) {
    opacity: 0;
  }
}

.show_architect::before,
.show_artist::after {
  @media (min-width: 1024px) {
    opacity: 0.7;
  }
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(3rem, 10vw, 12.8rem);
  padding-right: clamp(1.2rem, 2vw, 3rem);
  padding-left: clamp(1.2rem, 2vw, 3rem);

  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
  }
}

.heroLink {
  font-size: clamp(3rem, 6vw, 7.4rem);
  font-weight: 300;
  text-transform: uppercase;
  z-index: 2;
  user-select: none;

  @media (min-width: 800px) {
    transition: opacity .4s ease;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }
}
