.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.heroWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 300px 1.2rem;

  @media (min-width: 800px) {
    justify-content: center;
    gap: 6.2rem;
    padding: 300px 1.4rem;
  }

  @media (min-width: 1280px) {
    gap: 10.7rem;
  }
}

.heroLink {
  font-size: 3rem;
  font-weight: 300;
  font-stretch: 115%;
  z-index: 2;
  user-select: none;

  @media (min-width: 800px) {
    font-size: 4.3rem;
    transition: opacity .4s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  @media (min-width: 1280px) {
    font-size: 7.4rem;
  }
}

.heroBackground {
  @media (min-width: 800px) {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
  }
}

.heroBackgroundVisible {
  @media (min-width: 800px) {
    opacity: 0.7;
  }
}