.subnav {
  margin: 4px 0 1.7rem;
}

.subnavList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: end;
    gap: 1.2rem;
  }

  @media (min-width: 1440px) {
    gap: 3rem;
  }
}

.subnavLink {
  display: block;
  width: max-content;
  padding: 8px 10px;
  font-family: var(--font-ui);
  font-size: 1.2rem;
  border: 1px solid transparent;

  @media (min-width: 1024px) {
    transition: border-color 0.4s ease;

    &:hover,
    &:focus-visible {
      border-color: var(--color-highlight);
    }
  }
}
