.subnav {
  margin: 0 0 1.7rem;
  padding: 8px 0;

  @media (min-width: 1024px) {
    margin: 0 0 2rem;
  }
}

.subnavList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: end;
    gap: 1.2rem;
  }

  @media (min-width: 1440px) {
    gap: 3rem;
  }
}

.subnavLink {
  width: max-content;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 300;
  font-stretch: 115%;
  border: 1px solid transparent;

  @media (min-width: 1024px) {
    transition: border-color 0.4s ease;

    &:hover,
    &:focus-visible {
      border-color: var(--color-highlight);
    }
  }
}
