.buy {
  display: block;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 300;
  font-stretch: 115%;
  color: var(--color-secondary);
  text-align: center;
  border: 1px solid var(--color-secondary);
  transition:
    color .4s ease,
    border-color .4s ease;

  @media (min-width: 1024px) {
    max-width: max-content;
    padding: 8px 4.3rem;
    color: var(--color-highlight);
    border-color: var(--color-highlight);

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }
}
