.buy {
  display: block;
  max-width: 64ch;
  padding: 1rem;
  font-family: var(--font-ui);
  font-size: 1.2rem;
  color: var(--color-secondary);
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--color-secondary);
  transition:
    color .4s ease,
    border-color .4s ease;

  @media (min-width: 1280px) {
    font-size: 1.4rem;
    border-color: transparent;

    &:hover,
    &:focus-visible {
      border-color: var(--color-secondary);
    }
  }
}
