.cardsList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 1024px) {
    gap: 1rem;
  }
}

.card {
  position: relative;
  overflow: hidden;
}

.cardCover {
  display: block;
  width: 100%;
}

.cardCover img,
.cardImg {
  width: 100%;

  @media (min-width: 1280px) {
    transition: transform .4s ease;
  }
}

.card:hover .cardCover img,
.card:hover .cardImg,
.card:focus-visible .cardCover img,
.card:focus-visible .cardImg {
  @media (min-width: 1280px) {
    transform: scale(1.02);         
  }
}

.cardInfo {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  background: var(--color-primary);
  padding: 8px 0;
  // border-top: 1px solid transparent;
  // box-shadow: 0 0 0 1px var(--color-secondary);

  @media (min-width: 1280px) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    transform: translate3d(0, 8px, 0);
    transition: 
      opacity .3s ease,
      visibility .3s ease,
      transform .3s ease;
  }
}

.card:hover .cardInfo,
.card:focus-visible .cardInfo {
  @media (min-width: 1280px) {
    opacity: 1;
    visibility: visible;
    border-top-color: var(--color-secondary);
    transform: translateY(0);
  }
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 400;

  @media (min-width: 1024px) {
    font-size: 1.4rem;
  }
}

.cardSubtitle {
  font-size: 1.2rem;
  text-align: right;

  @media (min-width: 1024px) {
    font-size: 1.4rem;
  }
}
