.colCardLink {
  @media (min-width: 570px) {
    display: flex;
    gap: clamp(1rem, 4vw, 3rem);
    align-items: center;
  }

  @media (min-width: 1280px) {
    padding: 1rem;
    border: 1px solid transparent;
    transition: border-color .4s ease;

    &:hover,
    &:focus-visible {
      border-color: var(--color-secondary);
    }
  }
}

.colCardImg {
  width: 100%;
  margin-bottom: clamp(1rem, 4vw, 2.5rem);

  @media (min-width: 570px) {
    width: 300px;
    margin-bottom: 0;
  }

  @media (min-width: 1024px) {
    width: 500px;
  }
}

.colCardTitle {
  margin-bottom: clamp(10px, 4vw, 1.4rem);
  font-size: clamp(2rem, 4vw, 3.6rem);
  line-height: 1.1;
  font-stretch: 115%;
  font-weight: 300;
}

:lang(ru) .colCardTitle {
  font-family: var(--font-secondary);
  font-weight: 400;
}

.colCardDescription {
  font-size: clamp(1.2rem, 2vw, 1.7rem);
  font-stretch: 115%;
  font-weight: 300;
}

:lang(ru) .colCardDescription {
  font-family: var(--font-secondary);
  font-weight: 400;
}
