.footer {
  display: none;

  @media (min-width: 1024px) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    color: var(--color-secondary);
    background: var(--color-primary);
  }
}

.footerWrapper {
  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: clamp(1.2rem, 2vw, 3rem);
    padding-right: clamp(1.2rem, 2vw, 3rem);
  }
}

.copyright {
  @media (min-width: 1024px) {
    font-size: 0.8rem;
    text-align: right;
  }
}

.footerUnit {
  @media (min-width: 1024px) {
    display: flex;
    align-items: end;
    gap: clamp(1.7rem, 2vw, 3rem);
  }
}

.footerTitle {
  @media (min-width: 1024px) {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;
    font-stretch: 115%;
    opacity: 0.5;
  }
}

.footerList {
  @media (min-width: 1024px) {
    display: flex;
    gap: clamp(1.7rem, 2vw, 3rem);
  }
}

.footerLink {
  @media (min-width: 1024px) {
    padding: 8px;
    font-size: 1.2rem;
    border: 1px solid transparent;
    transition: 
    border-color 0.4s ease,
    opacity 0.4s ease;

    &:hover,
    &:focus-visible {
      border: 1px solid var(--color-secondary);
      opacity: 0.7;
    }
  }
}