.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerWrapper {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.footerInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footerNav {
  flex-grow: 1;
}

.footerNavUnit {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footerNavList {
  display: flex;
  gap: 1rem;
}