.footer {
  display: none;

  @media (min-width: 800px) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
  }
}

.footerWrapper {
  padding: 1.4rem;
}

.copyright {
  font-size: 0.8rem;
  text-align: right;
}

.footerNav {
  font-size: 1.2rem;
}

.footerUnit {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.footerTitle {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
  font-stretch: 115%;
  opacity: 0.5;
}

.footerList {
  display: flex;
  gap: 1rem;
}

.footerLink {
  padding: 8px;
  border: 1px solid transparent;
  transition: 
    border-color 0.4s ease,
    opacity 0.4s ease;

  &:hover {
    border: 1px solid var(--color-secondary);
    opacity: 0.7;
  }
}