.galleryWrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: clamp(2rem, 5vw, 5.2rem);
}

.slideImage {
  width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: var(--color-secondary); 

  @media (max-width: 800px) {
    display: none;
  } 
}
