.galleryWrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-top: clamp(2rem, 5vw, 4.3rem);
  margin-bottom: clamp(1.7rem, 5vw, 3rem);
}

.slideImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  width: 55px;
  height: 55px;
  padding: 8px;
  color: var(--color-secondary);
  background: var(--color-primary);

  @media (max-width: 1023px) {
    display: none;
  } 
}
