.galleryWrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: clamp(2rem, 5vw, 5.2rem);
}

.slideImage {
  width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  width: 55px;
  height: 55px;
  padding: 8px;
  color: var(--color-secondary);
  background:rgba(67, 67, 67, 0.5);
  backdrop-filter: blur(4px);     
  -webkit-backdrop-filter: blur(4px);

  @media (max-width: 1023px) {
    display: none;
  } 
}
