.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: var(--color-secondary);
  background: var(--color-primary);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  padding-right: clamp(1.2rem, 2vw, 3rem);
  padding-left: clamp(1.2rem, 2vw, 3rem);

  @media (min-width: 1024px) {
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 2rem;
  }
}

.logo {
  padding: 8px 0;
  text-transform: uppercase;
  transition: opacity 0.4s ease;

  @media (min-width: 1024px) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.burger {
  width: 40px;
  height: 40px;
  margin: 0 -8px 0 0;
  padding: 8px;
  background: transparent;

  @media (min-width: 1024px) {
    display: none;
  }
}
