.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: var(--color-secondary);
  background: var(--color-primary);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: clamp(1.2rem, 2vw, 3rem);
  padding-left: clamp(1.2rem, 2vw, 3rem);

  @media (min-width: 1024px) {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.logo {
  padding: 8px 0;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    color: var(--color-highlight);
    transition: color 0.4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }
}

.logoHome {
  color: var(--color-secondary);
}

.mainNav {
  display: none;

  @media (min-width: 1024px) {
    color: var(--color-highlight);
    display: flex;
    gap: clamp(1.7rem, 2vw, 3rem);
  }
}

.mainNavLink {
  @media (min-width: 1024px) {
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    font-stretch: 115%;
    transition: color 0.4s ease;

    &:hover,
    &:focus-visible {      
      color: var(--color-secondary);
    }
  }
}

:lang(ru) .mainNavLink {
  font-family: var(--font-secondary);
}

.buttonWrapper {
  display: flex;
}

.langSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    color: var(--color-highlight);
    transition: color 0.4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }
}

.langHome {
  color: var(--color-secondary);
}

.burger {
  width: 40px;
  height: 40px;
  margin: 0 -8px 0 0;
  padding: 8px;
  background: transparent;

  @media (min-width: 1024px) {
    display: none;
  }
}
