.page {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'ArchivoVariable', system-ui, sans-serif;;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
