.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 0 140px;
  font-family: 'Manrope', system-ui, sans-serif;
  line-height: 1.5;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  overflow: hidden;
}
