.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  background: var(--color-primary);
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.open {
  opacity: 1;
  pointer-events: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 2rem;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  padding: 8px;
  background: transparent;
}

.navTitle {
  margin: 0 0 10px;
  font-size: 2.5rem;
  font-weight: 600;
  font-stretch: 115%;
  // opacity: 0.5;
}

.navLink {
  display: inline-block;
  margin: 0 0 8px;
  font-size: 1.2rem;
}