.moreButton {
  padding: 4px 0;
  font-size: clamp(1rem, 2vw, 1.2rem);

  @media (min-width: 1024px) {
    transition: color .4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-highlight);
    }
  }
}
