.moreButton {
  display: block;
  width: max-content;
  padding: 8px 0;
  font-size: 1.2rem;
  color: var(--color-highlight);

  @media (min-width: 1024px) {
    font-size: 1.4rem;
    transition: color .4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }
}
