.moreButton {
  display: block;
  width: max-content;
  padding: 8px 0;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 300;
  font-stretch: 115%;
  color: var(--color-highlight);

  @media (min-width: 1024px) {
    font-size: 1.4rem;
    transition: color .4s ease;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }
}

:lang(ru) .moreButton {
  font-family: var(--font-secondary);
  font-weight: 400;
}
