.pubCardsList {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (min-width: 520px) {
    gap: 1rem;
  }
}

.pubCardLink {
  @media (min-width: 520px) {
    display: flex;
    gap: clamp(1rem, 4vw, 3rem);
    align-items: center;
  }

  @media (min-width: 1280px) {
    padding: 1rem;
    border: 1px solid transparent;
    transition: border-color .4s ease;

    &:hover,
    &:focus-visible {
      border-color: var(--color-secondary);
    }
  }
}

.pubCardImg {
  width: 100%;
  margin-bottom: clamp(1rem, 4vw, 2.5rem);

  @media (min-width: 520px) {
    width: 200px;
    margin-bottom: 0;
  }

  @media (min-width: 1024px) {
    width: 400px;
  }
}

.pubCardTitle {
  margin-bottom: clamp(10px, 4vw, 1.4rem);
  font-family: var(--font-ui);
  font-size: clamp(2rem, 4vw, 3.6rem);
  line-height: 1.1;
  font-weight: 400;

  @media (min-width: 1024px) {
    letter-spacing: -1px;
  }
}

.pubCardSubtitle {
  font-family: var(--font-ui);
  font-size: clamp(1.2rem, 2vw, 1.7rem);
  text-transform: uppercase;
}
