.videoContainer {
  position: relative;
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.videoCover {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-image: var(--cover480);

  @media (min-width: 600px) {
    background-image: var(--coverOriginal);
  }
}

.videoOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: background .4s ease;

  @media (min-width: 1024px) {
    .videoCover:hover & {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.videoTitle {
  position: absolute;
  right: clamp(8px, 2vw, 1.2rem);
  bottom: clamp(8px, 2vw, 1.2rem);
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  line-height: 1.2;
  font-weight: 300;
  font-stretch: 115%;
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.4),
    0 4px 12px rgba(0, 0, 0, 0.2);
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  display: block;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.playIcon {
  display: block;
  width: clamp(80px, 10vw, 140px);
  height: clamp(80px, 10vw, 140px);
}