.videoContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.videoCover {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-image: var(--cover480);

  @media (min-width: 600px) {
    background-image: var(--coverOriginal);
  }
}

.videoOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: background .4s ease;

  @media (min-width: 1024px) {
    .videoCover:hover & {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.videoTitle {
  position: absolute;
  right: clamp(4px, 2vw, 1rem);
  bottom: clamp(4px, 2vw, 1rem);
  padding: 4px 8px;
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  line-height: 1.2;
  font-weight: 300;
  font-stretch: 115%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);     
  -webkit-backdrop-filter: blur(4px);
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  display: block;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  @media (min-width: 800px) {
    width: 140px;
    height: 140px;
  }
}

.playIcon {
  display: block;
  width: 80px;
  height: 80px;

  @media (min-width: 800px) {
    width: 140px;
    height: 140px;
  }
}