.interiors {
  margin-top: -1.4rem;

  @media (min-width: 1024px) {
    position: relative;
  }
}

.navInt {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
  margin-left: 44px;
  padding: 4px 0;
}

.navIntList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 1024px) {
    position: absolute;
    top: 0;
    right: 60px;
    flex-direction: row;
    gap: 2rem;
  }

  @media (min-width: 1440px) {
    right: 342px;
  }
}

.navIntLink {
  width: max-content;
  padding: 8px 0;
  font-size: 0.8rem;
  font-weight: 300;
  font-stretch: 115%;

  @media (min-width: 1024px) {
    font-size: 1rem;
    transition: 
    opacity 0.4s ease;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }
}
