.laconism {
  font-size: clamp(1.2rem, 2vw, 1.7rem);
  overflow: hidden;
}

.laconismWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 4.3rem);
}

.laconismTitle {
  margin-bottom: clamp(1rem, 4vw, 3rem);
  font-family: var(--font-ui);
  font-size: clamp(2.5rem, 10vw, 8.9rem);
  line-height: 1.1;
  font-weight: 400;
}

.laconismUnit p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
}

.awardsWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(1.7rem, 4vw, 3.6rem);
}

.awardsTitle {
  margin-bottom: clamp(1rem, 4vw, 2.5rem);
  font-family: var(--font-ui);
  font-size: clamp(1.7rem, 10vw, 4.3rem);
  line-height: 1.1;
  font-weight: 400;
}

.awardsUnit p {
  margin-bottom: 10px;
  font-size: clamp(1.2rem, 2vw, 1.7rem);
  text-transform: uppercase;
}

.laconismList {
  max-width: 64ch;
  margin-left: clamp(2rem, 4vw, 4.3rem);
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
}

.laconismItem {
  margin-bottom: 1rem;
}

.laconismShortList li {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
}

.laconismShortList li p {
  margin-bottom: clamp(10px, 4vw, 1rem);
}

.laconismHighlight {
  text-transform: uppercase;
}

.laconismQuote {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
  margin-left: 0;
  text-transform: uppercase;
}

.quoteAuthor {
  font-style: normal;
}
