.laconism {
  font-size: clamp(1.2rem, 2vw, 1.7rem);
  overflow: hidden;
}

.laconismTitle {
  margin-bottom: clamp(1rem, 4vw, 3rem);
  font-size: clamp(2.5rem, 10vw, 8.9rem);
  line-height: 1.1;
  font-weight: 300;
  font-stretch: 115%;
  // color: var(--color-highlight);
}

.laconismWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 4.3rem);
}

.laconismUnit p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
}

.laconismList {
  max-width: 64ch;
  margin-left: clamp(2rem, 4vw, 4.3rem);
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
}

.laconismItem {
  margin-bottom: 1rem;
}

.laconismShortItem {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
}

.laconismShortItem p {
  margin-bottom: clamp(10px, 4vw, 1rem);
}

.laconismHighlight {
  text-transform: uppercase;
}

.quoteAuthor {
  font-style: normal;
}
