.laconism {
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.pageTitle,
.shortTitle {
  margin-bottom: clamp(1rem, 4vw, 2rem);
  font-size: clamp(2rem, 7vw, 4.3rem);
  line-height: 1.2;
  font-weight: 300;
  font-stretch: 115%;
  opacity: 0.5;
}

.shortWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 4.3rem);
  margin-bottom: clamp(2rem, 4vw, 4.3rem);
}

.shortList {
  display: flex;
  flex-direction: column;
  gap: clamp(1.7rem, 2vw, 4.3rem);
  counter-reset: shortCounter;
}

.shortItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 1.2rem);
  padding-left: clamp(5.2rem, 7vw, 8.9rem);
  counter-increment: shortCounter;
}

.shortItem::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: counter(shortCounter);
  font-size: clamp(5.2rem, 7vw, 8.9rem);
  line-height: 1;
  font-weight: 300;
  font-stretch: 115%;
  opacity: 0.3;
}

.shortUnit p {
  max-width: 64ch;
  margin-bottom: clamp(1rem, 4vw, 1.7rem);
}

.shortItem p {
  margin: 0;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 1.4rem);

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  }
}
