.objectsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 79px;
  padding-bottom: 4.3rem;
  padding-right: clamp(1.2rem, 2vw, 3rem);
  padding-left: clamp(1.2rem, 2vw, 3rem);

  @media (min-width: 1024px) {
    max-width: 2000px;
    margin: 0 auto;
    gap: 1.4rem;
    padding-top: 104px;
    padding-bottom: 184px;
  }
}