.navPub {
  margin-bottom: clamp(1.7rem, 4vw, 3rem);
  padding: 8px 0;
}

.navPubList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: clamp(1.7rem, 2vw, 3rem);
  }
}

.navPubLink {
  width: max-content;
  padding: 8px;
  font-weight: 300;
  font-stretch: 115%;
  border: 1px solid transparent;

  @media (min-width: 1024px) {
    font-size: 1.2rem;
    transition: 
    border-color 0.4s ease,
    opacity 0.4s ease;

    &:hover,
    &:focus-visible {
      border: 1px solid var(--color-secondary);
      opacity: 0.7;
    }
  }
}