:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-highlight: #999999;

  --font-body: 'InterVariable', system-ui, sans-serif;
  --font-ui: 'IBM Plex Mono', ui-monospace, monospace;
}
